@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;  /* box-sizing com o valor border-box faz com que o navegador não calcule a dimensão de um elemento somando bordas e margens com altura e largura */
    font-family:'Poppins', sans-serif;
}

section{
    position:relative; /*O position relative: posiciona o elemento em relação a si mesmo. Ou seja, o ponto zero será o canto superior esquerdo, e ele começará a contar a partir dali.*/
    width: 100%;
    min-height: 100vh; /*A medida vh é igual a 1/100 da altura da viewport. Então, por exemplo, se a altura do navegador é 900px , 1vh equivale a 9px */
    display: flex; /*Quando você declara no elemento pai o display: flex você está convertendo todos os elementos filhos, os Flex Itens, para se comportarem como caixas flexíveis. Detalhe importante; o elemento pai não se torna flexível ao menos que ele seja filho de outro elemento que recebeu display: flex;.*/
    flex-direction: column;
    justify-content: flex-start; /*s ítens são alinhados junto à borda de início (start) de acordo com qual for a flex-direction do container.*/
    background: url(bg.jpg)no-repeat;
    background-size: cover; /*Ajusta a imagem o mais largamente possível e mantém sua proporção (a imagem não fica esticada). A imagem "cobre" o container inteiro, tanto em altura como em largura. Quando a imagem e o container têm diferentes dimensões,a imagem ultrapassa os limites do container em qualquer direção, para continuar mantendo a proporção.*/
    background-position: center;

}

header{
    position: relative; /*position Relative o elemento passa a aceitar as propriedades Top, Bottom, Left e Right. Com elas você pode alterar o posicionamento do elemento.*/
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color: #000;
    text-decoration: none;
    text-transform: uppercase; /*Is a keyword forcing all characters to be converted to uppercase.*/
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #000;
    text-decoration:none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property:background ;
}

header .navigation a:not(:last-child){
    /*determinado estilo seja adicionado em todos os elementos, mas não em uma classe especifica*/
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: #226A80;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;

}

.content .info h2 span{
    color:#fff;
    font-size: 50px;
    font-weight: 500;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn{
    color: #fff;
    background:#226A80;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:500;
    letter-spacing:2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition:0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background:#0C4F60;

}

.media-icons{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:auto;

}

.media-icons a{
    position: relative;
    color:#111;
    font-size: 25px;
    transition:0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child){
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label{
    display: none;  /*retira o elemento do layout da página. Mas você ainda pode continuar manipulando ele no DOM.*/
}

#check{
    z-index: 3;
    display: none;
}

/* responsive style */

@media (max-width:960px){
    header .navigation{
        display:none;
    }
    label{
        display:block;
        font-size: 25px;
        cursor: pointer;
        transition:0.3s;
        transition-property: color;
    }

    label:hover{
        color: #fff;
    }

    label .close-btn{
        display:none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(114,223,255,0.9);
        top:0;
        bottom:0;
        left: 0;
        right:0;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display:none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display:block;
        position: fixed;
    }

    label .menu-btn{
        position:absolute;
    }

    header  .logo{
        position: absolute;
        bottom:-6px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){

    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }

}